@model NewKidsActivityProject.Models.Activity

@{
    ViewBag.Title = "Duplicate";
}

<h3>It appears that this Activity is already listed. Please check your records.</h3>

<div>
    @Html.ActionLink("List all Activities", "AllActivities")
</div>


