@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pull-right ">
            <!--<img vspace="14" class="jumbotronwidth" alt="" src="~/Images/miniproject_img1.jpg">-->
            <img vspace="14" class="jumbotronwidth" alt="" src="@Url.Content("~/Images/miniproject_img1.jpg")">
        </div>
        
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h1>Children's Activity Planner</h1>
            <p>Use this dynamic service to easily track activities, children and enrollments</p> <!---Just linking to image file for the moment -->
            <!--<p><a href="~/Images/miniproject_img1.jpg" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-4 right">
        <h2>Activities</h2>
        <p>
            Check out all the activities available
        </p>
        <p><a class="btn btn-default" href="http://newkidsactivityproject.azurewebsites.net/Activity/AllActivities">Learn more &raquo;</a></p>    <!--use URL for AllActivities-->
    </div>
    <div class="col-md-4 text-center">
        <h2>Children</h2>
        <p>Maintain childrens register</p>
        <p><a class="btn btn-default" href="http://newkidsactivityproject.azurewebsites.net/Kid/AllKids">Learn more &raquo;</a></p>   <!--use URL for AllKids-->
    </div>
    <div class="col-md-4 text-right">
        <h2>Enrollments</h2>
        <p>Manage activity enrollments</p>
        <p><a class="btn btn-default" href="http://newkidsactivityproject20160501071821.azurewebsites.net/Activity/Enrollments">Learn more &raquo;</a></p>   <!--use URL for Enrollments-->
    </div>
</div>