@model NewKidsActivityProject.Models.Enrollment

@{
    ViewBag.Title = "Duplicate";
}

<h3>It appears that this child has already been enrolled in this Activity. Please check your records.</h3>

<div>
    @Html.ActionLink("List Activity Enrollments", "Activity", "Enrollments")
</div>
