@model NewKidsActivityProject.Models.Kid

@{
    ViewBag.Title = "Duplicate";
}

<h3>It appears that this child is already registered. Please check your records.</h3>

<div>
    @Html.ActionLink("List all children", "AllKids")
</div>
