@model IEnumerable<NewKidsActivityProject.Models.Kid>

@{
    ViewBag.Title = "RemoveChild";
}

<h4><u>Select child to be removed from child register</u></h4>
<h1> </h1>
<table class="table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.ActionLink(item.FirstName + item.LastName, "Delete", new { id = item.KidID })       <!--combine first and second name for link-->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
        </tr>
    }


</table>

